<html>
  <head>
    <meta charset="utf-8">
	<title>Exam 2</title>
	<link rel="stylesheet" href="{% static 'blog/style.css' %}">
  </head>
  <body>
    <div class="header">
	  <div class="logo">
	    <img src="Oreo_Cookie_logo.png" alt="oreo" class="oreo-logo">
       	<img src="oreo-png.png" alt="oreo" class="oreo-cookie">
		 <div class="slogan"> The best cookies ever!</div> 
	  </div> 
	  
	</div> 
	
	 <div class="main">
	   <br>
	   
	    <div class="table-1">
		<table>
		<tr>
		<th rowspan='2'>Мій (моя) улюблена</th>
		<th colspan='3'>Як сильно</th>
		</tr>
		<tr>
		<th>Не люблю</th>
		<th>Так собі</th>
		<th>Дуже люблю</th>
		</tr>
		<tr>
		<th>Страва</th>
		<td class='yellow'>Чіпси</td>
		<td class='orange'>Каша гречана</td>
		<td class='red'>Вареники</td>
		</tr>
		<th>Колір</th>
		<td class='yellow'></td>
		<td class='orange'></td>
		<td class='red'></td>
		</tr>
		</tr>
		<th>Навчальний<br>предмет</th>
		<td class='yellow'></td>
		<td class='orange'></td>
		<td class='red'></td>
		</tr>
		</table>
		</div>
		
		 <div class="table-2">
		<div class='table'>
		<div class='row'>
		<div class='cell'>Infinitive</div>
		<div class='cell'>Past</div>
		<div class='cell'>Perfect</div>
		</div>
		<div class='row'>
		<div class='cell1'>be</div>
		<div class='cell1'>was/were</div>
		<div class='cell1'>been</div>
		</div>
		<div class='row'>
		<div class='cell1'>do</div>
		<div class='cell1'>did</div>
		<div class='cell1'>done</div>
		</div>
		<div class='row'>
		<div class='cell1'>can</div>
		<div class='cell1'>could</div>
		<div class='cell1'>could</div>
		</div>
		</div>
		</div>
	 
	 <div class='block'>
	 <img src='chips.png' class='chips'>
	 <img src='porridge.png' class='porridge'>
	 <img src='vareniki.png' class='vareniki'>
    </div>
	</div>
	 <div class="footer">
	    Designed by Oreo Oreo
	</div>
  </body>
</html>